/* Responsive  */
    
@media (max-width: 756px){
    .topnav{
      display: none;

    }

    
}
    @media (max-width: 756px) {
        .header {
            display: flex;
            flex-direction: column;
            width: 90%;
}
    }
    
    
    @media (max-width:800px){
        img{
            width:auto;
           
     
        }
        .hello{
            font-size: 20px;
        }
    }
    @media (max-width:756px){
    .feature{
        display: flex;
        flex-wrap: wrap;
        p{
            font-size: 20px;
            /* text-align: justify; */
        }
         i{
            font-size: 20px;

         }
    }
        .choose{
       h3,p{
            font-size: 20px;
        }
        }
    }
    @media (max-width:500px){
        .card1{
            /* display: flex; */
            flex-wrap: wrap;
            gap:20px;
        }
    } 
    @media (max-width:756px){
        .card1{
           
            text-align: center;
            display: flex;
            /* justify-content: center; */
            
        
    }
    .service{
        flex-wrap: wrap;
    }
}
@media (max-width:856px){
.features-icon {
    
    display: flex;
    flex-wrap: wrap;
   
}
}
@media (max-width:500px){
    .first{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .last{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;     
}
.team{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  img{
    width: 400px;
    height: 300px;
  }
}
.team-card{
    width: 50px;
    height: 100px;
}

.feature{
   
    img {
        height: 200px;
        width: 200px;
}
}

}
@media (max-width:500px){

/* footer form parts */
.form{
    position: relative;

    input{
        margin: 10px;
        height: 30px;
        width: 200px;
        border-radius: 15px;
       
    }
    input::placeholder{
        font-size: 15px;
        color: gray;
        padding: 5px;
        
    }
    button{
        width: 50px;
        height: 20px;
        border-radius: 20px;
        border-color: rgb(11, 11, 75);
        font-size: 15px;
        color: rgb(22, 22, 101);
        position: absolute;
        left: 150px;
        bottom: 18px;
    }
}

  
   .main{
    display: flex;
    flex-wrap: wrap;
   }
   .card{
    display: grid;
    margin-right: 20px;
    
}


    .info{
            display: flex;
           border: 2px solid rgba(0, 0, 0, 0.073);
           width: 200px;
           height: 100px;
          
           i{
            border: 2px solid rgba(0, 0, 0, 0.081);
            margin: 10px;
            font-size: 15px;
            width:20px;
            height: 20px;
            text-align: center;
            padding: 10px;
            color: rgb(56, 94, 175); 
        }
        div {
            margin:10px;
            line-height: 20px;   
              
         }
         div h4{
        font-size: 20px;
        font-weight: 300;
        word-spacing: 1px;
        font-family: "Oswald",sans-serif;
         }
    }
    .info:hover{
          box-shadow:1px 1px 10px rgba(128, 128, 128, 0.429);

    }
}
