/* Responsive  */
/* home page css  */
@media (max-width: 756px){
    .topnav{
      display: none;

    }
}
    @media (max-width: 756px) {
        .header {
            display: flex;
            flex-direction: column;
            width: auto;
}
 /*home main image css  */
 .hello {
    margin-right: 20px;
   h2{
    font-size: 35px;
 }
    .hello p{
        font-size: 20px;
    }
 
    }
    }
    /* second image and feature parts */
    @media (max-width:756px){
        .feature{
        p{
            font-size: 15px;
            padding: 2px;
            /* margin-right: 2rem;   */
        }    
        
    }
    .cardinfo1{
        width: 80%;
                
    }
}
    
    @media (max-width:656px){
        .feature{
            /* margin: 10px; */
           margin-left: 22px;

        }
        .features-icon {
           margin: 10px;
            icon{
                gap:5px;
            }
            div{
                width: 100%;
            }  
        }
        .icons i{
            font-size: 20px;
         
        }
        .icons  div {
          
                h2 {
                    font-size: 25px;
                    
                }
            }
        }
    @media (max-width:556px){
        .features-icon {
           /* margin-left: 52px; */
            flex-wrap: wrap;  
        }
        }
        @media (max-width:500px){
            .containers{
                margin: 0px;
            }
            .service1{
                margin: 25px;
                padding: 25px;
                /* width: auto; */
            }
            
        }
        @media (max-width:491px){
            .view{
                margin-left: 74px;
        
                margin-top: -2rem;
            }

        }
        @media (max-width:850px){
            .card1{
                
                padding: 0px;
                flex-wrap: wrap;
                /* gap:20px; */
             
            }
        }
    /* home card parts */
    @media (max-width:500px){
        .card1{
            margin: 10px;
            padding: 0px;
            flex-wrap: wrap;
            /* gap:20px; */
         
        }
        .end{
            h2{
                margin-left: 0px;
            }
        }
        .choose{
            h3{
                margin-left: 0rem;
            }
        }
        
    } 
    @media (max-width:1130px){
    .partners{
        flex-wrap: wrap;
    }
    .feature{
        flex-wrap: wrap;
        img{
            width: 100%;
            margin: 10px;
        }
    }
}
/* footer form parts */

@media (max-width:950px){
    footer{
    .first{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .last{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;  
        margin: 0px;
        padding: 0px;   
}
.left{
    margin: 10px;
    padding: 10px;
}
.right{
    margin: 10px;
    padding: 10px;
}
    }
    .form{
        button{
      right:80px;
    }
}
}

@media (max-width:600px) and (min-width:320px){
.form{
    input{
        margin: 10px;  
    }
    input::placeholder{
        font-size: 15px;
        padding: 5px;
        
    }
    button{
        width: 80px;
        /* height: 25px; */
        font-size: 15px;
       bottom: 17px;
       right: 45px;
    }

}
}

  /* contact page card parts */
  @media (max-width:1056px){
    .map iframe{
    width: 100%;
  }
}
@media (max-width:850px) {
    .main{
   flex-wrap: wrap;
   }
}
  @media (max-width:650px) {
    .topic h4{
        font-size: 20px;
    }
    .info{
        /* margin-left: -20px; */
        padding: 12px;
        width: 100%;
        i{
            font-size: 15px;
            padding: 5px;
            margin: 15px;
           }

    }
 .info div{
    margin: 0px;
    line-height: 25px;   

    h4{
        font-size: 18px;
        padding: 5px;
    }
    p{
        font-size: 12px;
    }
 }
}
  @media (max-width:1156px){
    .contact{
        margin: 0px;
        /* width: 100%; */
    }
   .main{
    margin: 0px;
   }
   .card{
    width:100%;
    
   }
 .map{
    width: 100%;
 }
  }

 /* responsive team page media css */
@media (max-width:1000px){
   .team-card{
  left:13rem;
   }

   .team{
       margin: 10px;
       flex-wrap: wrap;
       gap:60px;
      
   }
  
}
@media (max-width:800px) and (min-width:450px){
   .team-card{
    left:100px;
   }
}
@media (max-width:450px) {
   .team-card{
    left:50px;
   }
   .team-card{
    /* width: 100%; */
   h2,p{
       font-size: 20px;
   }
}
}
@media (max-width:1400px) and (min-width:1000px){
   .team-card{
    left:80px;
   }
  
}
/* service css */
@media (max-width:1100px) {
    .container{
        margin: 10px;
        padding: 10px;

    }
    
.service{
    width: 100%;
    margin: 0px;
    flex-wrap: wrap;
    
}
}
  /* about page css  */
  
   @media (max-width:500px){
   
    .img1{
        display: none;
    }

   }
   @media (max-width:1350px) and (min-width:1180px){
    .aboutus{
       margin-right:-5rem;
       
    }
}

   @media (max-width:1370px){
    .vision{
         div img{
             width:100%;
         }
     }
     .manage{
         img{
             margin: 15px;
         }
         p{
            width: 100%;
            font-size: 20px;
         }
     }

}
@media(max-width:640px){
    .img2{
        display: none;
    }
    .img1{
        height: 120px;
        
    }
    .aboutus{
        margin-top: 0px;
        p{
            padding: 0px;
        }
    }
    .manage{
        
        img{
           width: 100%;
           height: auto;
        }
}
}
@media (max-width:1180px) and (min-width:640px){
    .about{
       gap:120px;  
    }
}
   @media (max-width:1180px){
     .about{
        gap:13rem;  
     }
     .about{
        flex-wrap: wrap;
        /* gap:20px; */
     }
     .aboutus{
        width: 100%;
        margin-right: 0px;
     }
     .vision{
         flex-wrap: wrap;
         div img{
             width:100%;
             /* height: auto; */
         }
          li{
            width: auto;
           }
     }
    
     .manage{
        flex-wrap: wrap;
     }
     .vision-mission{
         margin: 0px;
         padding: 10px;
         button{
             margin: 5px;
         }
         h3{
           font-size: 20px;
         }
     }
    
    }